
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/bg01.png) repeat;
	font-family: 'Lateef', cursive;
    font-family: 'Mirza', cursive;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
  
}
p{
      float: right;
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #2C6503;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr
{
	display: none;
}

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

.container
{
	width: 100%;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	position: relative;
	height: 80px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		margin-top: 18px;
		left: 0;
		width: 100%;
        margin-right: -10px;
	}
	
	#logo h2
	{
		display: inline-block;
		font-size: 2em;
/*		text-transform: uppercase;*/
		font-weight: 300;
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 0;
		top: 0;
        margin-right: 10px;
	}
	
	#menu ul
	{
		display: inline-block;
        padding: 0;
	}
	
	#menu li
	{
		display: inline-block;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		height: 80px;
		letter-spacing: 0.20em;
        border-spacing: 10px;
		line-height: 80px;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 500;
/*		text-transform: uppercase;*/
		outline: 0;
		color: #FFF;
        margin-left: 15px;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		
		background: rgba(0,0,0,0.1);
		color: #FFF;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		position: relative;
		overflow: hidden;
/*		padding: 3em 0em 2em 0em;*/
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

/*
	#content
	{
		width: 790px;
	}
*/

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

/*
	#sidebar
	{
		width: 345px;
	}
*/
	
	#sidebar .title h2
	{
		font-size: 1.8em;
	}
	
	#sidebar .box1
	{
		margin-bottom: 3em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	height: 250px;
	background: url('images/header.jpg') no-repeat top center;
	background-size: 100%;
}

#header-wrapper:before
{
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	background-image: url('images/bg01.png');
/*	opacity: .1;*/
}

#header-wrapper2
{
	background: rgba(0,0,0,.1);
	box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.05);
    width: 100%;
   
}



	ul.style2
	{
		margin: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		background:rgba(99, 156, 1, 0.8);
	box-shadow: inset 0 5px 5px 5px rgba(0,0,0,.05);
    width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 1em;
        color: #FFF;
        margin-top: 100px;
	}
.p-l-28{
    padding-left: 28px;
}
.contactUs{
    margin-bottom: 10px;
    margin-top: 10px;
}
	#portfolio
	{
		overflow: hidden;
		text-align: center;
		color: #FFF;
        margin-top: 10px;
        padding: 5px;
	}
	
	#portfolio-wrapper .title 
	{
		color: #FFF;
       
	}

	#portfolio .byline
	{
		color: #FFF;
	}
	
#email{
    color: white !important;
    text-decoration-line: none;
    font-size: 1em;
    
}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
/*		padding: 3em 0em;*/
	}
	
	#copyright div
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
	}

	.title h2
	{
		 
		font-weight: 700;
		font-size: 2.5em;
		color: #171717;
	}
	
	.title .byline
	{
		 
		font-weight: 400;
		font-size: 1.3em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.5em 1em;
		background:rgba(99, 156, 1, 0.8);
		border-radius: 10px;
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		text-decoration: none;
		font-weight: 300;
		font-size: 0.90em;
		color: #FFF;
      margin-bottom: 10px;
	}

		.button:hover
		{
		}
		
		.button:active
		{
		}
			

/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

	#two-column
	{
		padding-top: 3em;
	}
	
	#two-column .title h2
	{
		font-size: 2em;
	}
	
	#two-column #tbox1
	{
		width: 370px;
	}

	#two-column #tbox2
	{
		float: right;
		width: 370px;
	}

	#two-column #tbox2 ul.style2
	{
		margin-top: 2.2em;
	}

#img{
    border-radius: 120%;
    border-color: 1em coral solid;
    height: 150px;
    width:150px;
    position: relative;
    margin-top: -80px;
    margin-left: 180px;
    border: 5px solid coral;
    
    
}
p{
    font-size: 1.5em;
}
  @media only screen and (max-width: 500px) {
            body{
            }
        }
.tit{
    text-align: center;
}
.wrap{
    margin-right: 100px;
}
/*/login/*/
#login {
/*	background:url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);*/
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
    position: relative;
}

#login h1{ font-size:28px;}
#login h2{ font-size:26px;}
#login h3{ font-size:18px;}
#login h4{ font-size:16px;}
 #login h5{ font-size:14px;}
 #login h5{ font-size:14px;}
#login h6{ font-size:12px;}
#login h1,h2,h3,h4,h5,h6{ color:#563D64;}
#login small{ font-size:10px;}
#login b, strong{ font-weight:bold;}
#login a{ text-decoration: none; }
#login a:hover{ text-decoration: underline; }
#login .left { float:left; }
#login .right { float:right; }
#login .alignleft { float: left; margin-right: 15px; }
#login .alignright { float: right; margin-left: 15px; }
#login .clearfix:after,
#login form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#login .container { margin: 25px auto; position: relative; width: 900px; }
#login #content {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
}
#login #content h1 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
#login #content h1:before,
#login #content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#login #content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#login #content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#login #content:after,
#login #content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#login #content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#login #content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
#login #content form { margin: 0 20px; position: relative }
#login #content form input[type="text"],
#login #content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
#login #content form input[type="text"]:focus,
#login #content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#login #username { background-position: 10px 10px !important }
#login #password { background-position: 10px -53px !important }
#login #content form input[type="submit"] {
	background: rgba(99, 156, 1, 0.8);
	background: -moz-linear-gradient(top,  rgba(99, 156, 1, 0.8) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(99, 156, 1, 0.8)) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(99, 156, 1, 0.8) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
    text-align: center;
}
#login #content form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#login #content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
#login .button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
 margin-left: 100px;
}
#login .button a {
	background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    margin-left: 100px;text-align: center;
}
#login .button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
  margin-left: 100px;  text-align: center;
}
#login .button{
    text-align: center;
    background-color: rgba(99, 156, 1, 0.8);
    margin-left: 50px;
}
.titleTxtStyle,
.titleTxtStyle:hover {
    color: white;
    font-size: 30px;
    font-family: 'Sansita', sans-serif;
    text-decoration: none;
    padding: 10px;
}

.descTxtStyle {
    color: whitesmoke !important;
    font-size: 25px;
    font-family: 'Sansita', sans-serif;
    padding: 30px;
    margin-left: 4%;
}
.likeTxtStyle {
    color: aliceblue;
    font-family: 'Ranga', cursive;
    font-size: 18px;
    padding: 2%;
}

.titleTxtEditStyle,
.descTxtEditStyle {
    font-family: 'Fjalla One', sans-serif;
    color: seashell;
    background-color: rgba(0, 255, 255, 0.2);
    padding: 3%;
    margin-bottom: 2%;
    font-size: 22px;
}

.CommentStyle {
    font-family: 'Baloo Bhaina', cursive;
    color: whitesmoke;
    font-size: 18px;
}

.PostStatus {
    background-color: rgba(76, 81, 100, 0.5);
    margin: 7%;
    /*    background-color: rgba(251, 94, 9, 0.5);*/
}

.btnPostion {
    margin-bottom: 2%;
        margin-bottom: 5%;

}

.CommentBox {
    color: aliceblue;
    font-size: 15px;
    background-color: rgba(0, 255, 255, 0.2);
    padding: 2%;
    margin-left: 2%;
    font-family: 'Baloo Bhaina', cursive;
    margin-bottom: 2%;
}

.AddCommentBt,
.editPostBtn,
.deleteCommentBtn {
    margin-bottom: 5%;
}
.add{
    text-align: center;
}













