    <div class="row">
        <div class="col-md-12">
            <img  class="img-circle1" src="logo.jpg">
        </div>
  <div class="row">
      <div class="col-md-11">
     <blockquote class="blockquote-reverse">
       <b class="unit">نشاطات منفذة من قبل وحدة المتطوعين المقاصديين  </b><br>
         <b>
        <br> ترويقة صباحية لأمهات دار العجزة الإسلامية<br> 
                  مهرجان لاطفال دار الأيتام الإسلامية<br>     
    "مخيم العمل التطوعي (البقاع) تنفيذ مشروع "حقي باللع <br>

      <br><b class="unit">التحضيرات</b><br>
     <br>     توزيع المتطوعون على المؤسسات والجمعيات الهلية والدور الرعاية  لتنفيذ 20 ساعة خدمة فعلية لدمجهم مع الفئات المستهدفة  في مشاريعهم  ضمن الأيام العالية للخدمة الشبابية <br>
      <br> تدريب القادة والمسؤولي النوادي التطوعية على مفاهيم الخدمة المجتمعية وكيفية كتابة المشاريع وطرق تمويلها وكيفية التخطيط لمشروع الخدمة<br>
      تدريب المتطوعون في النوادي التطوعية في كليات جمعية المقاصد على مهارات  التنمية الحياتية التي تتضمن ما يقارب من 35 جلسة تدريبية وكيفية كتابة المشاريع 
       على كل نادي تطوعي تنفيذ  تلك المشاريع التي وضعت  افكارها وهي لهذه السنة <br>
                               <br>مشروع ترفيهي لأمهات العجزة 
                                     <br>مخيم العمل التطوعي 
                              <br>مشاريع ترفيهية مع اطفال الأيتام 
               <br>مشروع الجداريات تم البدء به في كلية عمر بن الخطاب 
              <br>تأهيل بيت بحاجة من قبل مهنيين في معهد الدبس بخبرتهم
 </b>
     </blockquote>
      </div>
  </div>
  
 </div>