h1{
    text-align: center;
    font-size: 5em;
    color:darkorchid;
}
body{
    text-align: center;
   background-color:silver;
}
row{
    text-align: center;
    margin-top: 550px;
}
img{
    margin-bottom: 50px;
}