                <div class="row">
            <div class="col-md-12">
            <label for="Fullname">First Name</label><br>
            <input ng-model="fistName"id="Fullname" class="form-control" name="Fullname" placeholder="First Name" type="text">
            </div>
            </div>
         <div class="row">
         <div class="col-md-12">
        <label for="Game">Last Name</label><br>
        <input ng-model="name"id="Game" class="form-control" name="Game" placeholder="Last Name" type="text">
        </div>
        </div>
       <div class="row">
         <div class="col-md-12">
        <label for="Score"> School Name </label><br>
        <input ng-model="schoolName"id="Score" class="form-control"name="Score" placeholder="School Name" type="text">
             </div>
        </div>
           <div class="row">
         <div class="col-md-12">
        <label for="Date"> Date of Birth </label><br>
        <input ng-model="date"id="date" class="form-control"name="Date" placeholder="Date" type="date" value="">
             </div>
             </div>
                <div class="row">
         <div class="col-md-12">
        <label for="Date"> About Your Self  </label><br>
             <textarea ng-model="about"id="date" class="form-control"name="about" placeholder="Tell Us about YouSelf" type="text" placeHolder="About Your Self"></textarea>
             </div>
             </div>
             <button class="btn btn-primary" ng-click="submit()">Submit</button>