<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <!--add Part-->
        <div class="row inputShape">
            <div class="col-md-12 col-md-pull-2">
                <div >
                    <input ng-model="title" placeholder="Enter a title" class="form-control addInputTit">
                     <input ng-model="image" placeholder="Enter a image" class="form-control addInputTit">
                    <textarea ng-model="description" placeholder="Enter a description" class="form-control addInputDesc"></textarea>
                    <div class="col-md-3 col-md-offset-10">
                        <button ng-click="add();addStatus()" class="btn btn-warning"><a href="#/addData" id="btn-warning">Confirm</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>