 <div class="wrap">
           <div class="row">
            <div class="col-md-12">
                <div class="title blaaa">
                    <h2 class="tit">• التعريف بالوحدة </h2><br>
                    <p>تأسست وحدة شؤون المتطوعين عام 2001 بمناسبة السنة العالمية للمتطوعين . وتعنى الوحدة بشؤون الطلاب وتفعيل دورهم مع محيطهم،مواكبة لسياسة الجمعية التنموية </p>
                </div>
            </div>
        </div>
        <div class="row">
           <div id="two-column">
                <div class="col-md-6">
                    <div id="tbox1">
                        <div class="title">
                            <h2>• نشاطات منفذة </h2>
                        </div>
                        <a href="#" class="image image-full"><img src="images/FB_IMG_1485176565028.jpg" alt="" /></a>
                        <ul>
                            <li>ترويقة صباحية لأمهات دار العجزة الإسلامية </li>
                            <li>مهرجان لاطفال دار الأيتام الإسلامية </li>
                            <li>"مخيم العمل التطوعي (البقاع) تنفيذ مشروع "حقي باللعب </li>
                        </ul>
                        <a href="#" class="button">Read More</a> </div>
                </div>
                <div class="col-md-6">
                    <div id="tbox2">
                        <div class="title">
                            <h2>• أهداف الوحدة </h2>
                        </div>
                        <p>:تنبثق أهداف الوحدة من رسالة جمعية المقاصد الخيرية الإسلامية في بيروت التي تحث على إنماء العمل التطوعي وذلك عبر </p>
                        <ul class="style2">
                            <li>تدريب المتطوع على مفاهيم و تقنيات العمل التطوعي، وعلى تحمل المسؤوليات</li>
                            <li>تنمية فكر وشخصية المتطوع من خلال تزويده بخبرات عملي</li>
                            <li> تحفيز الشباب المقاصدي على الاشتراك في تنفيذ سياسة الجمعية في حقل التنمية الاجتماعية في بيروت و المناطق الريفية.</li>
                            <li>نشر وتعميم فكرة التبادل و التعاون في مجالات العمل الاجتماعي بين الشباب المقاصدي و غيرهم في الجمعيات الأهلية.</li>
                            <li>تنمية روح الفريق عند المتطوعين و توحيد ذلك للتفاعل مع الآخرين</li>
                        </ul>
                        <a href="#" class="button">Read More</a> </div>
                </div>
            </div>
                </div>
                     <div id="sidebar">
               <div class="row">
                <div class="col-md-6">

                    <div class="box2">
                        <div class="title">
                            <h2>• تحضير المتطوعيين </h2>
                        </div>
                        <ul class="style2">
                            <li>على كل نادي تطوعي تنفيذ تلك المشاريع التي وضعت افكارها وهي لهذه السنة:</li>
                            <li>مشروع ترفيهي لأمهات العجزة </li>
                            <li> مخيم العمل التطوعي </li>
                            <li>مشاريع ترفيهية مع اطفال الأيتام </li>
                            <li>مشروع الجداريات تم البدء به في كلية عمر بن الخطاب </li>
                            <li>تأهيل بيت بحاجة من قبل مهنيين في معهد الدبس بخبرتهم </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="box1">
                        <div class="title">
                            <h2>• صفحات لها صلة </h2>
                        </div>
                        <ul class="style2">
                            <li><a href="http://www.gysd.net">الايام العالمية</a></li>
                            <li><a href="">Facebook Page</a></li>
                            <li><a href="http://: www.makassed.org">جمعية المقاصد الخيرية الاسلامية</a></li>
                        </ul>
                    </div>
                   
                </div>
            </div>

        </div>
                </div>
           
    </div>
            </div>